{:deps     {:aliases [:cljs]}
 :dev-http {8080 "../docs"}
 :builds   {:app {:target     :browser
                  :output-dir "../docs/js"
                  :asset-path "/js"
                  :js-options {:css-support true}
                  :modules    {:main {:init-fn test-app.main/init}}
                  :devtools   {:after-load test-app.main/mount-root}}
            :release {:target     :browser
                      :output-dir "../docs/js"
                      :asset-path "/clojurescript_react_github_pages/js"
                      :js-options {:css-support true}
                      :modules    {:main {:init-fn test-app.main/init}}
                      :compiler-options {:optimizations :advanced}}}}
